<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">


    <test name="TL-001">
        <parameter name="username" value="" />
        <parameter name="password" value="" />
        <classes>
            <class name="testCase.TestLogin" />
        </classes>
    </test>

    <test name="TL-002">
        <parameter name="username" value="" />
        <parameter name="password" value="admin123" />
        <classes>
            <class name="testCase.TestLogin" />
        </classes>
    </test>

    <test name="TL-003">
        <parameter name="username" value="admin" />
        <parameter name="password" value="" />
        <classes>
            <class name="testCase.TestLogin" />
        </classes>
    </test>

    <test name="TL-004">
        <parameter name="username" value="mistake" />
        <parameter name="password" value="mistake" />
        <classes>
            <class name="testCase.TestLogin" />
        </classes>
    </test>

    <test name="TL-005">
        <parameter name="username" value="admin" />
        <parameter name="password" value="admin123" />
        <classes>
            <class name="testCase.TestLogin" />
        </classes>
    </test>

    <test name="TL-006">
        <classes>
            <class name="testCase.TestUserManagement" />
        </classes>
    </test>

</suite> <!-- Suite -->